node_modules/
.turbo/
dist/
packages/*/dist/
coverage/
packages/*/coverage/
playwright-report/
packages/*/playwright-report/
test-results/
benchmark-results/
packages/*/test-results/
packages/*/benchmark-results/
storybook-static/
packages/*/storybook-static/
packages/*/*.tgz

target/
crates/maps-wasm/pkg/

/backups/
